[submodule "racer/bots/example"]
	path = racer/bots/example
	url = git@github.com:nobleans-playground/coding-challenge-racer-bot-template.git
[submodule "racer/bots/ivo"]
	path = racer/bots/ivo
	url = https://github.com/meltedpianoman/nobleo-racecar
[submodule "racer/bots/jono"]
	path = racer/bots/jono
	url = git@github.com:JonathanGevers/coding-challenge-racecars.git
[submodule "racer/bots/richard"]
	path = racer/bots/richard
	url = git@github.com:RichardvdK/lil-racer.git
[submodule "racer/bots/bram"]
	path = racer/bots/bram
	url = git@github.com:Vidicon/race_bot.git
[submodule "racer/bots/stefan"]
	path = racer/bots/stefan
	url = git@github.com:stefanvdpalen/racing_bot.git
[submodule "lewie"]
	path = lewie
	url = git@github.com:lewie-donckers/coding-challenge-racer-bot.git
[submodule "racer/bots/lewie"]
	path = racer/bots/lewie
	url = git@github.com:lewie-donckers/coding-challenge-racer-bot.git
[submodule "racer/bots/mahmoud"]
	path = racer/bots/mahmoud
	url = git@github.com:Mahmoud1922/my_race_bot.git
[submodule "racer/bots/hein"]
	path = racer/bots/hein
	url = git@github.com:heinwessels/coding-challebnge-racer.git
[submodule "racer/bots/paul"]
	path = racer/bots/paul
	url = git@github.com:PaulVerhoeckx/pauls-racer.git
[submodule "racer/bots/mukunda"]
	path = racer/bots/mukunda
	url = git@github.com:mbharatheesha/nobleo_racer.git
[submodule "racer/bots/rein"]
	path = racer/bots/rein
	url = git@github.com:reinzor/coding-challenge-racer-reinzor-bot.git
[submodule "racer/bots/jerrel"]
	path = racer/bots/jerrel
	url = git@github.com:Nobleaantje/DK.git
[submodule "racer/bots/matthijsfh"]
	path = racer/bots/matthijsfh
	url = git@github.com:matthijsfh/nobleo_racer.git
[submodule "racer/bots/ferry"]
	path = racer/bots/ferry
	url = https://github.com/MCFurry/furstappen.git
[submodule "racer/bots/rayman"]
	path = racer/bots/rayman
	url = git@github.com:Rayman/coding-challenge-racer-bot.git
[submodule "racer/bots/daniel"]
	path = racer/bots/daniel
	url = git@github.com:danielpijnenborg/racer_bot.git
[submodule "racer/bots/gitplant"]
	path = racer/bots/gitplant
	url = git@github.com:Gitplant/racer-bot-lombardi.git
[submodule "racer/bots/mhoogesteger"]
	path = racer/bots/mhoogesteger
	url = git@github.com:MHoogesteger/coding_challenge_racer.git
