[submodule "racer/bots/example"]
	path = racer/bots/example
	url = git@github.com:nobleans-playground/coding-challenge-racer-bot-template.git
[submodule "racer/bots/rayman"]
	path = racer/bots/rayman
	url = git@github.com:Rayman/coding-challenge-racer-bot.git
